<h1>Editing Club</h1>

<!--<%= render 'form', club: @club %>-->
  <div id="prompt3">
    <p>You do not have permission to edit clubs. Only administrators can.</p>
  </div>

<%= link_to 'Show', @club %> |
<%= link_to 'Back', clubs_path %>
