<h1 class="category-club-header">Create New Club</h1>

<% if user_signed_in? %>
  <%= render 'form', club: @club %>
<% else %>
  <p>You must be logged in to create clubs!</p>
<% end %>

<!--Remove Back button from create category page-->
<!--%= link_to 'Back', clubs_path %-->
