<p>Library in use: public_suffix</p>
<p>The library has the method #domain? which returns whether 'self' looks like a domain</p>
<p>This is the input: PublicSuffix::Domain.new("com", "google").domain?</p>
<p>This returns: <%= PublicSuffix::Domain.new("com", "google").domain? %> </p>
