<p>Library in use: unicode-display_width</p>
<p>The library has the method DisplayWidth.of() which will display the width of a string</p>
<p>This is the input: Unicode::DisplayWidth.of('Hi, this is Max!')</p>
<p>This is the output: <%= Unicode::DisplayWidth.of('Hi, this is Max!') %> </p>