<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <!--
    Start editing HtML here
  -->

  <h1>Forgot Password</h1>

  <!--
    Stop editing HtML here
  -->

  <!--
    JS example. You don't need JS for this task's week for now.
  -->
  <%# <%= javascript_pack_tag 'home_example' %>
</body>
</html>