<p>
  <strong>Rating:</strong>
  <%= rating.general_rating %>
</p>

<p>
  <strong>Description:</strong>
  <%= rating.description %>
</p>

<% if user_signed_in? and rating.user_id == current_user.id %>
  <%= link_to 'Destroy Rating', [rating.club, rating],
              method: :delete,
              data: { confirm: "Are you sure?" } %>
<% end %>

<br />