<h1>Editing Assignments A4 Thanh Quan Test</h1>

<%= render 'form', assignments_a4_thanh_quan_test: @assignments_a4_thanh_quan_test %>

<%= link_to 'Show', @assignments_a4_thanh_quan_test %> |
<%= link_to 'Back', assignments_a4_thanh_quan_tests_path %>
