<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @assignments_a4_thanh_quan_test.image %>
</p>

<%= link_to 'Edit', edit_assignments_a4_thanh_quan_test_path(@assignments_a4_thanh_quan_test) %> |
<%= link_to 'Back', assignments_a4_thanh_quan_tests_path %>
