<h1 class="about-header">About Rate My Clubs</h1>
<div class="about-button">
</div>

<div class="about-box">
  <div class="about-sentence"> 
    We are five passionate computer science students currently attending Cal Poly Pomona. As part of our Software Engineering class, 
    we are making a web service that can benefit students in our university for a semester-long project. Similar to Rate My Professors, 
    Rate My Clubs allows students to create informative reviews and give a rating to clubs so students can get good information about 
    the club before they can join. Rate My Clubs also allows students to create categories so they can navigate through clubs easily.  
  </div>
</div>

<div class="about-row">
    <div class="about-column">
      <div class="about-card">
        <br>
        <p>Lawrence Chua</p>
        <br>
        <p>Fullstack Developer</p>
      </div>
    </div>

    <div class="about-column">
      <div class="about-card">
        <br>
        <p>Thanh Quan Nguyen</p>
        <br>
        <p>Fullstack Developer</p>
      </div>
    </div>

    <div class="about-column">
      <div class="about-card">
        <br>
        <p>Cynthia Luong</p>
        <br>
        <p>Fullstack Developer</p>
      </div>
    </div>

    <div class="about-column">
      <div class="about-card">
        <br>
        <p>Max Hoac</p>
        <br>
        <p>Frontend Developer</p>
      </div>
    </div>

    <div class="about-column">
      <div class="about-card">
        <br>
        <p>Min Kyu Yang</p>
        <br>
        <p>Frontend Developer</p>
      </div>
    </div>
  </div>

  <div class="about-links">
    <a href="https://github.com/Team-Respect/Rate-My-Clubs"> Our Github Page</a>
    <br>
    <br>
    <a href="http://cs480-projects.github.io/teams-fall2021/respect/index.html"> Our Team Page</a>
  </div>

<div class="about-copyright">
<p>Copyrighted 2021</p>
</div>