<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>

  <!--
    Start editing HtML here
  -->
  
  <h1 class="about-header">About Us</h1>
  <div class="button">
  <%= link_to 'Home', root_url %>
  </div>

  <div class="box">
    <div class= "sentence"> 
    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in 
      voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.  Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque aliquam nunc purus, a pulvinar velit
      accumsan et. Sed sed libero nisl. Phasellus vehicula sed nulla non efficitur. Pellentesque imperdiet augue facilisis, consectetur arcu eget, pulvinar ante. Phasellus orci diam, faucibus sed efficitur in, blandit vel velit. Morbi placerat viverra egestas. Aenean dictum porta leo nec tristique.
      Orci varius natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. In tincidunt convallis arcu vitae rutrum. Vivamus ultricies blandit arcu, sit amet condimentum mauris condimentum viverra. Quisque porta tellus augue, sed consectetur mi ullamcorper nec. Etiam ultrices, leo nec 
      convallis pretium, arcu tellus sollicitudin justo, sed pharetra.
    </div>
  </div>

  <div class="row">
      <div class="column">
        <div class="card">
          <img src="doge.jpg" style="width: 100px; height:auto; padding-top:10px">
          <br>
          <p>Lawrence Chua</p>
          <br>
          <p>Fullstack Developer</p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="doge.jpg" style="width: 100px; height:auto; padding-top:10px">
          <br>
          <p>Thanh Quan Nyguyen</p>
          <br>
          <p>Fullstack Developer</p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="doge.jpg" style="width: 100px; height:auto; padding-top:10px">
          <br>
          <p>Cynthia Luong</p>
          <br>
          <p>Fullstack Developer</p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="doge.jpg" style="width: 100px; height:auto; padding-top:10px">
          <br>
          <p>Max Hoac</p>
          <br>
          <p>Frontend Developer</p>
        </div>
      </div>

      <div class="column">
        <div class="card">
          <img src="doge.jpg" style="width: 100px; height:auto; padding-top:10px">
          <br>
          <p>Min Kyu Yang</p>
          <br>
          <p>Frontend Developer</p>
        </div>
      </div>
    </div>

  <div class="about-copyright">
  <p>Copyrighted 2021</p>
  </div>

  <!--
  Stop editing HtML here
  -->

  <!--
    JS example. You don't need JS for this task's week for now.
  -->
  <%# <%= javascript_pack_tag 'home_example' %>
</body>
</html>