// Place all the styles related to the About controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.about-header {
  font-size: 3.5rem;
  text-align: center;
}

.about-button {
  text-align: center;
  padding-bottom: 10px;
}

.about-sentence {
  width: 900px;
  line-height: 1.6;
  color: white;
  font-size: 1rem;
  text-align: center;
  margin: 0 auto;
  padding: 3%;
  background-color: black;
}

.about-column {
  width: 20%;
  float: left;
  padding: 30px 10px;
}

.about-row::after {
  content: "";
  display: table;
  clear: both;
}

.about-card {
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  max-width: 200px;
  margin: auto;
  background-color: black;
  text-align: center;
  padding-bottom: 15px;
  color: white;
}

.about-copyright {
  color: black;
  font-size: 1rem;
  text-align: center;
  padding: 20px;
}

.about-links {
  text-align: center;
  text-decoration: underline;
}

/*Mobile Responsive - Name Tags*/
@media screen and(max-width:900px) {
  .about-column {
    width: 100%;
    margin-bottom: 20px;
  }
}

/*Mobile Responsive - Box and Sentences*/
@media screen and(max-width:1140px) {
  .about-sentence {
    width: 80%;
    margin-bottom: 20px;
    padding: 5%;
  }
}

@media screen and(max-width:800px) {
  .about-sentence {
    width: 95%;
    margin-bottom: 20px;
    padding: 10%;
  }
}

@media (max-width:700px) {
  .about-sentence {
    width: 95%;
    margin-bottom: 20px;
  }
}

@media (max-width:600px) {
  .about-sentence {
    width: 95%;
    margin-bottom: 20px;
  }
}

@media (max-width:500px) {
  .about-sentence {
    width: 95%;
    margin-bottom: 20px;
  }
}