/* Box that contains name and catagory in create category page */
.category-box { 
  width: 900px;
  height: 290px;
  background-color: black;
  color: white;
  margin: 0 auto;
  text-align: right;
  padding: 10px;
}

.club-form-category-select select {
  width: 100%;
  padding: 15px;
  // margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}