/* Box that contains name and description in create new category page */
.category-box { 
  width: 900px;
  height: 290px;
  background-color: black;
  color: white;
  margin: 0 auto;
  text-align: right;
  padding: 10px;
}

.category-form-not-logged-in-message {
  text-align: center;
}
