/* Box that contains name and catagory in create category page */
.category-box { 
  width: 900px;
  height: 290px;
  background-color: black;
  color: white;
  margin: 0 auto;
  text-align: right;
  padding: 10px;
}

.club-form-category-select select {
  width: 100%;
  padding: 15px;
  // margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

.category-page-header{
  padding: 20px;
  margin-top: 0px;
  margin-bottom: 40px;
  text-align: center;
  font-size: 40px;
  color: black;
}

.category-column{
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  z-index: 1;
}

.category-name-display{
  text-align: center;
  margin-left: 0%;
  margin-top: 15px;
  font-weight: bold;
  font-size: 22px;
  white-space: nowrap;
  color: black;
  z-index: 1;
}

.category-description{
  text-align: left;
  margin-left: 0%;
  margin: -10px 20px 30px 20px;
  font-size: 16px;
  color: black;
  z-index: 1;
  padding: 5px 5px 10px 5px;
  background-color: gray;
}


.notice{
  padding: 20px;
  margin-top: 0px;
  margin-bottom: -30px;
  text-align: center;
  font-size: 40px;
}

.category-created-header{
  padding: 20px;
  margin-top: 10px;
  margin-bottom: 4.5%  ;
  color: black;
  text-align: center;
  font-size: 40px;
}

.category-copyrighted {
  text-align: center;
  color: black;
}

.view-categories{
  position: relative;
  margin-top: -3.5%;
  margin-left: 67.5%;
  padding: 6.5px;
  background-color: white ;
  color: black;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  width: 110px;
  border-radius: 7px;
  z-index: 2;
}

.edit-categories{
  float: left;
  position: sticky;
  padding: 15px;
  margin-left: 540px;
  margin-right: 0px;
  margin-top: 10px;
  margin-bottom: 30px;
  width: 120px;
  height: 50px;
  background-color: gray;
  text-align: center;
  white-space: nowrap;
  color: white;
  z-index: 2;

}

.new-category{
  position: relative;
  margin-top: -4%;
  margin-left: 66.5%;
  padding: 6.5px;
  background-color: white ;
  color: black;
  font-size: 12px;
  white-space: nowrap;
  text-align: center;
  width: 110px;
  border-radius: 7px;
  z-index: 2;
}

.content-container {
  display: inline-block;
  position: relative;
  left: 25%;
  margin: -40px auto;
  width: 50%;
  z-index: 1;
}

.home-background {
  margin-top: 0px;
  margin-bottom: 20px;
  display:inline-block;
  width:100%;
  height: 150%;    
  background-color: black;
  position: relative;
  padding-top: 10px;
}

.club-container {
  margin-left: 50px;
  margin-right: 50px;
  margin-top: 1.55%;
  margin-bottom: 0%;
  width: auto;
  height:auto;
  background-color: gray;
  position: relative;
  z-index: 1;
}

.spacer{
  margin-left: 25%;
  margin-right: 25%;
  padding-bottom: 2%;
  background-color: black;
  width: auto;
  height: 5px;
  z-index: 0;
}

.new-category-copyright {
  text-align: center;
  position: sticky;
  margin-top: 22.5%;
  color: black;
} 

a{
  text-decoration-line: none !important;
}

@media only screen and (min-width: 300px) and (max-width: 900px) {
  .content-container{width: 97.5%; margin-left: -23.5%;}
  .category-description{margin-top: -1%;}
  .spacer{padding-bottom: 0px; background-color: black;}
  .new-category{margin-left: 42.5%; margin-top: -60px;}
  
}
