// Place all the styles related to the clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Temporary(?) background color until selectors get fixed */
html {
  background-color: rgb(146, 146, 146);
}

.clubs-tr {
  cursor: pointer;
}

/* Box that contains name and catagory in create club page */
.create-club-box { 
  width: 900px;
  height: 260px;
  background-color: black;
  color: white;
  margin: 0 auto;
  text-align: right;
  padding: 10px;
}

/* Headers in club and category pages */
.category-club-header {
  text-align: center;
}