// Place all the styles related to the clubs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

/* Temporary(?) background color until selectors get fixed */
html {
  background-color: rgb(146, 146, 146);
}

.clubs-tr {
  cursor: pointer;
}

/* Box that contains name and category in create new club page */
.create-club-box { 
  width: 900px;
  height: 290px;
  background-color: black;
  color: white;
  margin: 0 auto;
  text-align: right;
  padding: 10px;
}

.club-copyrighted {
  text-align: center;
  color: black;
}

.club-form-category-select {
  padding-top: 5px;
  padding-bottom: 3px;
}

.club-form-category-select select {
  width: 100%;
  padding: 17px;
  // margin: 5px 0 22px 0;
  display: inline-block;
  border: none;
  background: #f1f1f1;
}

/* Headers in club and category pages */
.category-club-header {
  text-align: center;
  color: black;
}

// Home page

// Club listing
.home-main-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 95% 25%;
  margin-left: 20%;
  margin-right: 20%;
}

.home-no-clubs {
  padding: 5%;
  margin-bottom: 10%;
  text-align: center;
  background-color: black;
}

.home-no-clubs-text {
  padding: 5%;
  background-color: gray;
  // By default, it should be black.
  color: black;
  font-size: 1.5rem;
}

.home-row {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.home-col {
  align-items: center;
}

.home-page-h1 {
  padding: 20px;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  color: black;
}

.home-content-container {
  position: relative;
  align-items: center;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 0%;
  background-color: black;
  z-index: 0;
  
}

.home-club-container {
  margin: 2.5%;
  background-color: gray;

}

.home-ratings-column {
  // Keep for testing purposes
  //background-color: green;
  padding: 10%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  align-items: center;
}

.home-overall-rating-container {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: white;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 10%;
  height: 100px;
  width: 100px;
  z-index: 0;
}

.home-overall-rating {
  // Keep for testing purposes
  //background-color: red;
  font-size: 25px;
  font-weight: bold;
  color: black;
  // Increasing the padding shifts number to the left
  //padding: 0;
  align-items: center;
  z-index: 0;
}

.home-number-rating {
  color: black;
  margin-left: -30%;
  margin-top: 10%;
  font-size: 1.25rem;
  white-space: nowrap;
}

.home-club-info-column {
  // Keep for testing purposes
  //background-color: red;
}

.home-club-name {
  position: relative;
  white-space: nowrap;
  margin: -55px 0px 0px -10%;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  z-index: 0;
}

.home-category-name {
  position: relative;
  margin: 5px 0px 0px -10%;
  color: black;
  font-size: 1.25rem;
  white-space: nowrap;

}

.home-other-ratings-column {
  display: grid;
  justify-content: center;
  // Keep for testing purposes
  //background-color: blue;
  align-items: center;
  text-align: center;
}

.home-rating {
  text-align: center;
  background-color: white;
  width: 30px;
  height: 30px;
  margin: 0px 10px 5px 0px;
  padding: 5px 0px 0px 0px;}

.home-rating-metric {
  margin: 7.5px 70px 5px 0px;
  position: relative;
  color: black;
  white-space: nowrap;
}

.home-other-ratings-metric-row {
  display: flex;
}

// Category tab
.home-category-list {
  // Can't make category tab fixed in grid
  margin-left: 20%;
}

.home-category-background {
  background-color: black;
  margin: 0px;
  padding: 5px;
  width: 200px;
  height: auto;
}

.home-category-heading {
  background-color: gray;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px;
  color: black;
}

.home-category-input {
  cursor: pointer;
}

.home-category-label {
  font-size: 1.25rem;
  color: black;
}

.home-category-container {
  background-color: gray;
  padding: 5%;
  margin: 5%;
}

// Footer
.home-copyright {
  text-align: center;
  position: sticky;
  margin-top: 2%;
  color: black;
} 





//Club Page
.club-page{
  width:100%;
  min-width:1400px;
  height:100%;
}

/*Contains all overall rating info*/
.club-overall-info-container {
  position: absolute;
  min-width: 350px;
  width:20%;
  height: 462px;
  left: 49px;
  top: 156px;

  background: #292929;
}

/*Box for overall rating*/
.club-overall-info-container .overall-rating-box {
  position: absolute;
  width: 80px;
  height: 80px;
  left: 10%;
  top: 10%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Overall rating*/
.overall-rating {
  position: relative;
  font-size: 36px;
  color: #000000;
}

/*Club name, category name*/
.club-overall-info-container .overall-rating-names {
  position: absolute;
  left: 40%;
  top: 11%;
  font-size: 20px;
  color:#ffffff;
}

/*Rating Metric Box*/
.club-overall-info-container .rating-metric-box1 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 40%;
  left: 10%;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.club-overall-info-container .rating-metric-box2 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 60%;
  left: 10%;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.club-overall-info-container .rating-metric-box3 {
  position: absolute;
  width: 60px;
  height: 60px;
  top: 80%;
  left: 10%;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Text for sub ratings*/
.rating-metric-text{
  position: relative;
  font-size: 50px;
  color: #000000;
}

/*Contains user ratings*/
.ratings-container {
  position: relative;
  min-width: 843px;
  width:60%;
  height: 220px;
  margin-left:30%;
  margin-right: 20%;
  top: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  background: #2e2e2e;
}

/*Contains a rating*/
.ratings-container .rating-rectangle {
  display: flex;
  position: relative;
  min-width: 712px;
  width:90%;
  min-height: 155px;
  flex-basis: auto;

  background: #acacac;
}

/* User's description of a rating */
.rating-rectangle .description-box {
  position: absolute;
  width: 60%;
  height: 93px;
  right: 5%;
  top: 20%;
  text-align: left;

  overflow-y: auto;

  background: #c4c4c4;
}

.rating-rectangle .tag-box1 {
  position: absolute;
  width: 68px;
  height: 13px;
  right: 56%;
  bottom: 6%;
  font-size: 10px;
  background: #c4c4c4;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-rectangle .tag-box2 {
  position: absolute;
  width: 68px;
  height: 13px;
  right: 41%;
  bottom: 6%;
  font-size: 10px;
  background: #c4c4c4;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-rectangle .tag-box3 {
  position: absolute;
  width: 68px;
  height: 13px;
  right: 26%;
  bottom: 6%;
  font-size: 10px;
  background: #c4c4c4;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-rectangle .rating-date {
  position: absolute;
  //width: 68px;
  //height: 13px;
  padding: 1px;
  right: 5%;
  top: 6%;
  font-size: 1rem;
  background: #c4c4c4;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ratings-container .year-selection {
  position: relative;
  width: 110px;
  height: 21px;
  right: 35.6%;
  align-self: top;

  background: #c4c4c4;
}

/* User's overall rating */
.rating-rectangle .overall-rating-box {
  position: absolute;
  width: 56px;
  height: 56px;
  top: 15%;
  left: 4%;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.overall-rating-text{
  position: relative;
  font-size: 25px;
  color: #000000;
}

/* User's rating for metric 1 */
.rating-rectangle .rating-metric-box4 {
  position: absolute;
  width: 25px;
  height: 25px;
  align-self: baseline;
  top: 15%;
  left: 14%;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* User's rating for metric 2 */
.rating-rectangle .rating-metric-box5 {
  position: absolute;
  width: 25px;
  height: 25px;
  align-self: center;
  left: 14%;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* User's rating for metric 3 */
.rating-rectangle .rating-metric-box6 {
  position: absolute;
  width: 25px;
  height: 25px;
  align-self: baseline;
  bottom: 15%;
  left: 14%;
  background: #f5f5f5;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rating-rectangle .rating-metric-name1 {
  position: absolute;
  left: 18%;
  top: 17%;
  font-size: 13px;
  color:#000000;
}

.rating-rectangle .rating-metric-name2 {
  position: absolute;
  left: 18%;
  top: 45%;
  font-size: 13px;
  color:#000000;
}

.rating-rectangle .rating-metric-name3 {
  position: absolute;
  left: 18%;
  bottom: 17%;
  font-size: 13px;
  color:#000000;
}

/* User's rating for each metric's text */
.metric-rating-text{
  position: relative;
  font-size: 13px;
  color: #000000;
}

.rating-rectangle .delete-rating-button {
  position: absolute;
  width: 75px;
  height: 13px;
  right: 5%;
  bottom: 6%;
  font-size: 10px;
  background: #acacac;
  border-radius: 4px;
  display: flex;
  justify-content: center;
  align-items: center;
}

// Fixes bug that autoscrolls the star ratings when selected
input[type="radio"] {
  visibility:hidden;
}

/*Mobile Responsive - main box*/
@media screen and(max-width:1140px) {
  .create-club-box {
      width: 95%;  
  }
}