* {box-sizing: border-box;}

body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

.topnav {
  position: fixed;
  top: 0;
  width: 100%;
  height: 50px;
  background-color: #39363B;
}

.show_username {
 margin-right: 70px;   
}

.show_username,.user_icon{
  float: right;
  display: block; 
  color: white;
  font-size: 17px;
  margin-top: 15px;
  padding: 0px 5px 0px 5px;
}

.user_icon {
  list-style: none;
  cursor: pointer;
}
.fa-user-circle {
  position: fixed;
  right: 30px;
}
.user_items {
  list-style: none;
  display: none;

}
.user_items_container {
  overflow: auto;
  background-color: #39363B;
  margin-top: 35px;
  margin-right: -5px;
  position: fixed;
  right: 0px;
  display: block;
}
.topnav .topnav_items {
  float: left;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-size: 17px;
}

.topnav .topnav_items:hover {
  background-color: #ddd;
  color: black;
}

.topnav .topnav_items.active {
  background-color: #2196F3;
  color: white;
}

.topnav input[type=text] {
  top: 0%;
  left: 40%;
  position: fixed;
  padding: 6px;
  margin-top: 8px;
  font-size: 17px;
  border: none;
  width: 20%
}

.topnav .search-container button {
  padding: 6px 10px;
  top: 0%;
  left: 61%;
  position: fixed;
  margin-top: 8px;
  margin-right: 16px;
  background: #ddd;
  font-size: 17px;
  border: none;
  cursor: pointer;
}

.topnav .search-container button:hover {
  background: #ccc;
}

.login {
  float: right;
}

.navbar-padding {
  padding: 25px;
}