// Home page/Club's index file - app/views/clubs/index.html.erb

.home-main-container {
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: 95% 25%;
  margin-left: 20%;
  margin-right: 20%;
  margin-top: -16%;
}

.home-no-clubs {
  padding: 5%;
  margin-bottom: 10%;
  text-align: center;
  background-color: black;
}

.home-no-clubs-text {
  padding: 5%;
  background-color: gray;
  // By default, it should be black.
  color: black;
  font-size: 1.5rem;
}

.home-row {
  display: grid;
  align-items: center;
  grid-auto-flow: column;
  grid-template-columns: 33.3% 33.3% 33.3%;
}

.home-col {
  align-items: center;
}

.home-page-h1 {
  padding: 20px;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
  color: black;
}

.home-content-container {
  position: relative;
  align-items: center;
  padding-left: 2.5%;
  padding-right: 2.5%;
  padding-top: 1%;
  padding-bottom: 1%;
  margin-bottom: 0%;
  background-color: black;
  height: fit-content;
  z-index: 0;
}

.clubs-tr {
  cursor: pointer;
}

.home-club-container {
  margin: 2.5%;
  background-color: gray;

}

.home-ratings-column {
  // Keep for testing purposes
  //background-color: green;
  padding: 10%;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  align-items: center;
}

.home-overall-rating-container {
  display: flex;
  align-items: center;
  text-align: center;
  background-color: white;
  justify-content: center;
  padding-top: 10%;
  padding-bottom: 10%;
  margin: 10%;
  height: 100px;
  width: 100px;
  z-index: 0;
}

.home-overall-rating {
  // Keep for testing purposes
  //background-color: red;
  font-size: 25px;
  font-weight: bold;
  color: black;
  // Increasing the padding shifts number to the left
  //padding: 0;
  align-items: center;
  z-index: 0;
}

.home-number-rating {
  color: black;
  margin-left: -30%;
  margin-top: 10%;
  font-size: 1.25rem;
  white-space: nowrap;
}

.home-club-info-column {
  padding: 5%;
}

.home-club-name {
  position: relative;
  margin: -55px 0px 0px -10%;
  font-weight: bold;
  font-size: 1.5rem;
  color: black;
  z-index: 0;
}

.home-category-name {
  position: relative;
  margin: 5px 0px 0px -10%;
  color: black;
  font-size: 1.25rem;
  white-space: nowrap;

}

.home-other-ratings-column {
  display: grid;
  justify-content: center;
  // Keep for testing purposes
  //background-color: blue;
  align-items: center;
  text-align: center;
}

.home-rating {
  text-align: center;
  background-color: white;
  width: 30px;
  height: 30px;
  margin: 0px 10px 5px 0px;
  padding: 5px 0px 0px 0px;}

.home-rating-metric {
  margin: 7.5px 70px 5px 0px;
  position: relative;
  color: black;
  white-space: nowrap;
}

.home-other-ratings-metric-row {
  display: flex;
}

// Category tab
.home-category-list {
  // Can't make category tab fixed in grid
  margin-left: 7.5%;
  z-index: 1;
  margin-bottom: -10%;
}

.home-category-background {
  background-color: black;
  margin: 0px;
  padding: 5px;
  width: 200px;
  height: auto;
}

.home-category-heading {
  background-color: gray;
  text-align: center;
  font-size: 1.5rem;
  padding: 10px;
  margin: 10px;
  color: black;
}

.home-category-input {
  cursor: pointer;
}

.home-category-label {
  font-size: 1.25rem;
  color: black;

}

.home-category-container {
  background-color: gray;
  padding: 5%;
  margin: 5%;
}

.home-page-row {
  display: flex;
  flex-direction: row;
}
.home-page-column {
  display: flex;
  flex-direction: column;
}

@media only screen and (max-width: 750px) {
  .home-page-row{display: flex; flex-direction: column;}
  .home-main-container{width: 100%; margin-left: 2.5%; margin-top: 15%; margin-right: 0%;}
  .home-club-name {font-size: 18px; margin-left: -25.5%; margin-top: -10%;}
  .home-category-name{font-size: 14px; margin-left: -25.5%;}
  .home-number-rating{margin-left: -25.5%; font-size: 12px;}
  .home-overall-rating-container {height: 50px; width: 50px;}
  .home-overall-rating{font-size: 18px;}
  .home-rating{height: auto; width: auto; margin-left: 20%; margin-top: 2.5%; font-size: 10px; padding: 1%;}
  .home-rating-metric{font-size: 10px; margin-top: 5%;}
  .home-category-list{margin-left: 2.5%; margin-top: -5%;}
  .home-category-background{width: 97.5%; margin-top: 0%;}
  .home-category-label{font-size: 14px;}
  .home-category-container{padding: 2%; margin: 2.5%;}
  .home-category-heading{font-size: 16px;}
}
@media only screen and (min-width: 751px) and (max-width: 900px){
  .home-main-container{width: 70%; margin-left: 5%; margin-top: -2%; margin-right: 0%;}
  .home-club-name {font-size: 16px; margin-left: -10%; margin-top: -25%;}
  .home-category-name{font-size: 14px; margin-left: -10%;}
  .home-number-rating{margin-left: 5%; font-size: 14px;}
  .home-overall-rating-container {height: 75px; width: 75px;}
  .home-overall-rating{font-size: 18px;;}
  .home-rating{height: auto; width: auto; margin-left: 10%; margin-top: 2.5%; font-size: 14px; padding: 2% 1% 1% 1%;}
  .home-rating-metric{font-size: 14px; margin-top: 5%;}
  .home-category-list{margin-left: 5%;}
  .home-category-label{font-size: 16px;}
}

@media only screen and (min-width: 901px) and (max-width: 1050px){
  .home-main-container{width: 70%; margin-left: 5%; margin-top: -2%; margin-right: 0%;}
  .home-club-name {font-size: 20px; margin-left: -15%; margin-top: -20%;}
  .home-category-name{font-size: 16px; margin-left: -15%;}
  .home-number-rating{margin-left: 5%; font-size: 14px;}
  .home-overall-rating-container {height: 75px; width: 75px;}
  .home-overall-rating{font-size: 18px;}
  .home-rating{height: auto; width: auto; margin-left: 5%; margin-top: 2.5%; font-size: 14px; padding: 2% 1% 1% 1%;}
  .home-rating-metric{font-size: 14px; margin-top: 5%;}
  .home-category-list{margin-left: 5%;}
  .home-category-label{font-size: 16px;}
}
@media only screen and (min-width: 1051px) and (max-width: 1200px){
  .home-main-container{width: 70%; margin-left: 5%; margin-top: -2%; margin-right: 0%;}
  .home-club-name {font-size: 22px; margin-left: -25.5%; margin-top: -20%;}
  .home-category-name{font-size: 18px; margin-left: -25.5%;}
  .home-number-rating{margin-left: -25.5%; font-size: 14px;}
  .home-overall-rating-container {height: 75px; width: 75px;}
  .home-overall-rating{font-size: 22px;}
  .home-rating{height: auto; width: auto; margin-left: 5%; margin-top: 2.5%; font-size: 14px; padding: 2% 1% 1% 1%;}
  .home-rating-metric{font-size: 14px; margin-top: 5%;}
  .home-category-list{margin-left: 5%;}
  .home-category-label{font-size: 16px;}
}

@media only screen and (min-width: 1201px) and (max-width: 1350px){
  .home-main-container{width: 70%; margin-left: 5%; margin-top: -2%; margin-right: 0%;}
  .home-club-name {font-size: 22px; margin-left: -25.5%; margin-top: -20%;}
  .home-category-name{font-size: 18px; margin-left: -25.5%;}
  .home-number-rating{margin-left: -25.5%; font-size: 14px;}
  .home-overall-rating-container {height: 75px; width: 75px;}
  .home-overall-rating{font-size: 22px;}
  .home-rating{height: auto; width: auto; margin-left: 5%; margin-top: 2.5%; font-size: 14px; padding: 2% 1% 1% 1%;}
  .home-rating-metric{font-size: 14px; margin-top: 5%;}
  .home-category-list{margin-left: 5%;}
  .home-category-label{font-size: 16px;}
}

@media only screen and (min-width: 1351px) and (max-width: 1500px){
  .home-main-container{width: 70%; margin-left: 5%; margin-top: -2%; margin-right: 0%;}
  .home-club-name {font-size: 22px; margin-left: -25.5%; margin-top: -18%;}
  .home-category-name{font-size: 18px; margin-left: -25.5%;}
  .home-number-rating{margin-left: -25.5%; font-size: 18px;}
  .home-overall-rating-container {height: 90px; width: 90px;}
  .home-overall-rating{font-size: 24px;}
  .home-rating{height: auto; width: auto; margin-left: 5%; margin-top: 2.5%; font-size: 14px; padding:1%;}
  .home-rating-metric{font-size: 14px; margin-top: 5%;}
  .home-category-list{margin-left: 5%;}
  .home-category-label{font-size: 16px;}
}

@media only screen and (min-width: 1501px) and (max-width: 1650px){
  .home-main-container{width: 70%; margin-left: 5%; margin-top: -2%; margin-right: 0%;}
  .home-club-name {font-size: 24px; margin-left: -25.5%; margin-top: -18%;}
  .home-category-name{font-size: 18px; margin-left: -25.5%;}
  .home-number-rating{margin-left: -25.5%; font-size: 18px;}
  .home-overall-rating-container {height: 90px; width: 90px;}
  .home-overall-rating{font-size: 24px;}
  .home-rating{height: auto; width: auto; margin-left: 5%; margin-top: 2.5%; font-size: 18px; padding: 1%;}
  .home-rating-metric{font-size: 14px; margin-top: 5%;}
  .home-category-list{margin-left: 5%;}
  .home-category-label{font-size: 16px;}
}

@media only screen and (min-width: 1651px){
  .home-main-container{width: 70%; margin-left: 5%; margin-top: -2%; margin-right: 0%;}
  .home-club-name {font-size: 26px; margin-left: -25.5%; margin-top: -15%;}
  .home-category-name{font-size: 18px; margin-left: -25.5%;}
  .home-number-rating{margin-left: -30%; font-size: 18px;}
  .home-overall-rating-container {height: 100px; width: 100px;}
  .home-overall-rating{font-size: 26px;}
  .home-rating{height: auto; width: auto; margin-left: -20%; margin-top: 2.5%; font-size: 18px; padding: 1%;}
  .home-rating-metric{font-size: 18px; margin-top: 5%;}
  .home-category-list{margin-left: 5%;}
  .home-category-label{font-size: 16px;}
}