// Place all the styles related to the SignUp controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.signin {
  margin: 20px auto;
  padding-bottom: 25px;
  width: 343px; 
  height: auto; 
  -webkit-border-radius: 8px/7px; 
  -moz-border-radius: 8px/7px; 
  border-radius: 8px/7px; 
  background-color: black; 
  -webkit-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  -moz-box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  box-shadow: 1px 2px 5px rgba(0,0,0,.31); 
  border: solid 1px #cbc9c9;
  color: white;
  text-align: center;
}

.login_title {
  font-size: 32px;
  font-weight: 300;
  color: white;
  text-align: center;
  padding-top: 10px;
  margin-bottom: 10px;
}

.loginbutton {
  position: relative;
  padding: 5px 60px 5px 60px;
  font-size: 16px;
}

/* Change styles for cancel button and signup button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .signupbtn {
      width: 100%;
  }
}
.needtocreateaccount {
  position: relative;
  color: white
}
.forgotpassword {
  position: relative;
  color: white
}

#flash_alert {
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}