/* For My Ratings page. Path: /my_ratings */

.my-ratings-h1 {
  padding: 20px;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
}

.my-ratings-not-logged-in-message {
  text-align: center;
}

.no-ratings-message {
  text-align: center;
}