/* For My Ratings page. Path: /my_ratings */

.my-ratings-h1 {
  padding: 20px;
  margin-top: 0px;
  text-align: center;
  font-size: 40px;
}

.my-ratings-not-logged-in-message {
  text-align: center;
}

.no-ratings-message {
  text-align: center;
}

.my-ratings-club-name {

  font-size: 25px;
  color: #ffffff;
  left:30%;
}

.my-ratings-club-name-container {
  position:relative;
  width: 400px;
  padding:35px;
  left:50%;
  transform: translate(-50%);
  background: #2e2e2e;
  align-items: center;
  text-align: center;
}

/*User's overall rating*/
.my-overall-rating-box {
  position:absolute;
  left:5%;
  top:50%;
  transform:translateY(-50%);
  width: 56px;
  height: 56px;
  background: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}


//New ratings on club pages

@media only screen and (max-width: 900px) {
    /*Contains user ratings*/
    .my-ratings-container {
      position: relative;
      width: 80%;
      min-width:400px;
      max-width: 600px;
      height: 400px;
      left:50%;
      transform: translate(-50%);
      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
      background: #2e2e2e;
    }  
      /*Contains a rating*/
  .my-ratings-container .rating-rectangle {
    display: flex;
    position: relative;
    width:90%;
    height: 85%;
    flex-basis: auto;
    background: #acacac;
  }
  /*Contains new rating form*/
  .new-rating-container {
    position: relative;
    min-width: 400px;
    max-width:600px;
    width:80%;
    height: 600px;
    left:50%;
    transform: translate(-50%);
    top:550px;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background: #2e2e2e;
  }
  /*New rating form*/
  .new-rating-container .new-rating-rectangle {
    display: flex;
    flex-direction:column;
    width: 90%;
    height:90%;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap:10px;
    background: #acacac;
  }
  .new-rating-rectangle .general-rating-field{
    display:flex;
  
    height:10%;
    width: 90%;
    //background: #680249;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:10px;
  }
  
  .new-rating-rectangle .rating-field{
    display:flex;
    align-items: center;
    flex-direction: column;
    height:50%;
    width: 90%;
    //background: #e4193b;
    justify-content: center;
    align-content: center;
  }
  
  .new-rating-container .rating-description{
  
    width: 90%;
    height:20%;
    //background-color: aqua;
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: stretch;
  }
} 

@media only screen and (min-width: 901px) and (max-width: 1299px) {
      /*Contains user ratings*/
      .my-ratings-container {
        position: relative;
        width: 80%;
        min-width:400px;
        max-width: 600px;
        height: 400px;
        left:50%;
        transform: translate(-50%);
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        align-items: center;
        justify-content: space-evenly;
        background: #2e2e2e;
      }
        /*Contains a rating*/
  .my-ratings-container .rating-rectangle {
    display: flex;
    position: relative;
    width:90%;
    height: 85%;
    flex-basis: auto;
    background: #acacac;
  }
  /*Contains new rating form*/
  .new-rating-container {
    position: relative;
    width:50%;
    min-width: 450px;
    height: 600px;
    top:auto;
    left:43%;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background: #2e2e2e;
  }
  /*New rating form*/
  .new-rating-container .new-rating-rectangle {
    display: flex;
    flex-direction:column;
    width: 90%;
    height:90%;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap:10px;
    background: #acacac;
  }
  .new-rating-rectangle .general-rating-field{
    display:flex;
  
    height:10%;
    width: 90%;
    //background: #680249;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:10px;
  }
  
  .new-rating-rectangle .rating-field{
    display:flex;
    align-items: center;
    flex-direction: column;
    height:50%;
    width: 90%;
    //background: #e4193b;
    justify-content: center;
    align-content: center;
  }
  
  .new-rating-container .rating-description{
  
    width: 90%;
    height:20%;
    //background-color: aqua;
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: stretch;
  }
} 

@media only screen and (min-width: 1300px){
  /*Contains user ratings*/
  .my-ratings-container {
    position: relative;
    min-width: 843px;
    width:60%;
    height: 220px;
    top: 10px;
    left:50%;
    transform: translate(-50%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
   background: #2e2e2e;
   }
     /*Contains a rating*/
  .my-ratings-container .rating-rectangle {
    display: flex;
    position: relative;
    width:90%;
    height: 155px;
    flex-basis: auto;
    background: #acacac;
  }
  /*Contains new rating form*/
  .new-rating-container {
    position: absolute;
    min-width: 843px;
    width:60%;
    height: 410px;
    margin-left:35%;
    margin-right: 20%;
    top: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    justify-content: space-evenly;
    background: #2e2e2e;
  }
  /*New rating form*/
  .new-rating-container .new-rating-rectangle {
    display: flex;
    flex-direction:column;
    min-width: 712px;
    width: 90%;
    height:350px;
    align-items: center;
    justify-content: center;
    align-content: center;
    gap:10px;
    background: #acacac;
  }
  .new-rating-rectangle .general-rating-field{
    display:flex;
  
    height:18%;
    width: 90%;
    //background: #680249;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap:10px;
  }
  
  .new-rating-rectangle .rating-field{
    display:flex;
    align-items: center;
  
    height:20%;
    width: 90%;
    //background: #e4193b;
    justify-content: center;
    align-content: center;
  }
  
  .new-rating-container .rating-description{
  
    width: 90%;
    height:30%;
    //background-color: aqua;
    justify-content: center;
    display:flex;
    flex-direction: column;
    align-items: stretch;
  }
}  


.rating-description .rating-description-border{
  width: 100%;
  height: 100%;
  resize: none;
  margin-bottom: 10px;
  font-size: 15px;
}



/*Rating Stars */
.rate {
    float:left;
    height: 46px;
    padding: 0 10px;
}
.rate:not(:checked) > input {
    position:absolute;
    top:-9999px;
}
.rate:not(:checked) > label {
    float:right;
    width:1em;
    overflow:hidden;
    white-space:nowrap;
    cursor:pointer;
    font-size:30px;
    color:#ccc;
}
.rate:not(:checked) > label:before {
    content: '★ ';
}
.rate > input:checked ~ label {
    color: #000000;    
}
.rate:not(:checked) > label:hover,
.rate:not(:checked) > label:hover ~ label {
    color: #000000;  
}
.rate > input:checked + label:hover,
.rate > input:checked + label:hover ~ label,
.rate > input:checked ~ label:hover,
.rate > input:checked ~ label:hover ~ label,
.rate > label:hover ~ input:checked ~ label {
    color: #000000;
}