/*Prompt message for id=notice in rate this club page, RMC front page*/ 
#notice {
  font-size: 13px;
  color: white;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*Prompt message for create rating page*/
#prompt1 p {
  font-size: 13px;
  color: white;
  text-align: center;
  margin: 10px auto;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*Prompt message for create rating page*/
#prompt2 p {
  font-size: 13px;
  color: white;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*Prompt message for permission to edit in clubs page*/
#prompt3 p {
  font-size: 13px;
  color: white;
  text-align: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 5px;
  padding-bottom: 5px;
}

/*prompt message for category page*/
.category-form-not-logged-in-message {
  font-size: 13px;
  color: white;
  text-align: center;
}