// Path URL to "Settings" page: /user/edit
// Path to HTML.ERB file: app/views/devise/registrations/edit.html.erb
.setting-big-box {
  width: 1200px;
  //height: 950px;
  //background-color: gray;
  margin: 0 auto;
  //padding: 15px;
}

.setting-edit-header {
  text-align: center;
  font-size: 1.5rem;
  color: black;
  margin-top: 10px;
}

.setting-main-box {
  width: 900px;
  //height: 260px;
  background-color: black;
  color: white;
  margin: 0 auto;
  text-align: right;
  padding: 10px;
  margin-bottom: 40px;
}

.setting-cancel-account-box {
  width: 900px;
  height: 145px;
  background-color: black;
  color: white;
  margin: 0 auto;
  text-align: center;
  padding-top: 2px;
}

.setting-cancel-button {
  text-align: right;
  padding: 10px;
}

.setting-copyrighted {
  text-align: center;
  margin: 0 auto;
  color: black;
}

/*Mobile Responsive - main box*/
@media screen and(max-width:1140px) {
  .setting-big-box {
      width: 95%;
      background-color: #929292;
  }
}

@media screen and(max-width:1140px) {
  .setting-main-box {
      width: 95%;
      padding: 10px;
      margin-bottom: 40px;
  }
}

/*Mobile Responsive - cancel box*/
@media screen and(max-width:1140px) {
  .setting-cancel-account-box {
      width: 95%;
  }
}