/*Error header*/
#error_explanation h2 {
  width: 250px;
  height: 34px;
  background-color: red;  
  font-size: 13px;
  color: white;
  text-align: center;
  margin: 0 auto;
}

/* Error list */
#error_explanation li {
  font-size: 13px;
  color: red;
  text-align: center;
  margin: 0 auto;
}