/*Error header*/
#error_explanation h2 {
  width: 250px;
  height: 34px;
  background-color: red;  
  font-size: 13px;
  color: white;
  text-align: center;
  margin: 0 auto;
}

/* Error messages for create new categories, 
create new club creation, and sign up page */
/*#error_explanation li {
  font-size: 13px;
  color: red;
  text-align: left;
  margin: 0;
}*/

#error_explanation p {
  font-size: 13px;
  color: red;
  text-align: center;
  margin: 0;
  padding-right: 35px;
}