<h1 class="category-club-header">Create New Category</h1>

<%= render 'form', category: @category %>

<!--Remove Back button from create category page-->
<!--<%= link_to 'Back', categories_path %>-->
