<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @category.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @category.description %>
</p>

<!-- Make this a clickable button -->
<%= link_to 'Club Categories Page', categories_path %>
