<p id="notice"><%= notice %></p>

<h1 class = "category-created-header">New Club Category Created!</h1>
<div class="content-container">
  <div class="home-background">
    <div class="club-container">
      <div class ="category-column">
        <p class="category-name-display"><%= @category.name %></p>
        <p class= "category-description"><%= @category.description%></p>
        
      </div>
    <div class = "view-categories"><%= link_to 'View Categories', categories_path %></div>
  </div>
</div>

<p class="home-copyright">Copyrighted 2021</p>
</div>